<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Навыки</title>
  <link rel="stylesheet" href="/editSkills.css">
</head>
<body>
<h2>Выбранные навыки:</h2>
<div id="selected-skills">
  <!-- выбранные навыки будут добавлены сюда -->
</div>

<h2>Поиск:</h2>
<input type="text" id="search" placeholder="Поиск навыков...">

<h2>Невыбранные навыки:</h2>
<div id="unselected-skills">
  <!-- невыбранные навыки будут добавлены сюда -->
</div>

<script src="/scripts/editProfileSkills.js"></script>
<div id="apply">
  <button>Сохранить</button>
</div>

</body>
</html>
