<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<h1>Вход</h1>
<form action="/login" method="post">
  <div>
    <label>Имя пользователя:</label>
    <label>
      <input type="text" name="username"/>
    </label>
  </div>
  <div>
    <label>Пароль:</label>
    <label>
      <input type="password" name="password"/>
    </label>
  </div>
  <div>
    <input type="submit" value="Log In"/>
  </div>
</form>

</body>
</html>