<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form action="/register" method="post">
  <div class="form-group">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password">
  </div>
  <div class="form-group">
    <input type="submit" value="Зарегистрироваться">
  </div>
</form>
</body>
</html>