<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Регистрация</h1>

<form action="/register" method="post">
    <div class="error">
        {{#if error}}
            {{error}}
        {{/if}}
    </div>
  <div class="form-group">
    <label for="username">Логин:</label>
    <input type="text" id="username" name="username" placeholder="Больше 4, меньше 20 символов латинских букв">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" placeholder="Больше 4, меньше 20 символов">
  </div>
  <div class="form-group">
    <input type="submit" value="Зарегистрироваться">
  </div>
  <p class="message">Уже есть аккаунт? <a href="/login">Войти</a></p>
</form>
</body>
</html>
