<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Suggest Idea</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/ideas/create" method="POST">

            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description"><br><br>
            <label for="skills-list">Skills:</label>
                <div class="skills-list" id="skills-list">
                    <script id="templateSkills" type="text/x-handlebars-template">
                        <ul>
                            {{#each skills}}
                                <li><input type="checkbox" id="{{name}}" value="{{name}}" name="skills"><label for="{{name}}">{{name}}</label></li>
                            {{/each}}
                        </ul>
                    </script>
                    <script src="/scripts/getSkills.js"></script>
                </div>

            <input type="submit" value="Submit">

    </form>

</body>
</html>