* {
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.idea-search-page{
    height: 100vh;
    background: white;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    z-index: 3;
}

.logo.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #252B42;
    height: 50px;
    text-decoration: none;
}

.top-bar {
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #ffffff;
    width: 100%;
    height: 9%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}


.nav ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.nav li {
    list-style: none;
    margin-right: 40px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #CCCCCC;
    transition: color 0.2s;
}

.nav a:hover {
    color: #666666;
    cursor: pointer;
    opacity: 0.8;
}

.nav a.active {
    color: #333333;
    opacity: 1;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.search input[type="text"] {
    display: inline-block;
    border: 2px solid #666666;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    width: 500px;
    height: 50px;
    margin-right: 0;
}

.search button {
    display: inline-block;
    border: none;
    background-color: #23A6F0;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.search input[type="text"]:focus {
    outline: none;
    border-color: #333333;
}

.search button i {
    font-size: 18px;
}

.search button:hover {
    opacity: 0.8;
}

.fa-search {
    font-size: 18px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 1%;
    margin-top: 6%;
    height: 80%;
    width: 17%;
    padding: 15px;
    background-color: #f5f5f5;
    z-index: 3;
}

.sidebar-block {
    margin-bottom: 20px;
}

.idea-filter-text {
    font-size: 30px;
    color: #252B42;
    border-bottom: 1px solid gray;
}

.skills-text {
    font-size: 16px;
}

.filter h3, .skills h3 {
    margin: 0 0 10px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #23A6F0;
}
.search-bar button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #23A6F0;
    color: #fff;
    cursor: pointer;
}
.skills li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.skills-list ul {
    margin-left: -15px;
}

.search-bar form {
    display: flex;
    align-items: center;
    margin-left: 1%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.search-bar button {
    margin-right: 10px;
}

.skills {
    margin-left: 1%;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
    list-style-type: none;
}

.skills h3 {
    margin-top: 9%;
    margin-left: 8%;
}


.sidebar-block.skills {
    height: 300px;
    margin-top: 10%;
}

.sidebar-block.filter {
    margin-top: 10%;
}

.sidebar-block.apply button{
    margin-top: 30%;
    margin-left: 20%;
    border-radius: 5px;
    width: 60%;
    font-size: 20px;
}

.skills-list {
 /* Add scrollable content */
    margin-right: 20px;
    display: list-item;
}

.skills label {
    margin-left: 10px;

}

.count {
    margin-left: auto;
    color: #23A6F0;
}

.apply button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #23A6F0;
    color: #fff;
    cursor: pointer;
}

.idea {
    border: solid gray 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 95%;
    padding: 1%;
}

.idea-name {
    margin-bottom: 1%;
}

.idea-description {
    width: auto;
}

.idea-skills {
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}

.idea-buttons button {
    margin: 10px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    color: #f0f0f0;
    border: none;
}

.idea-buttons .create {
    background-color: #40BB15;
    cursor: pointer;
}

.idea-buttons .find {
    background-color: #23A6F0;
    cursor: pointer;
}

.ideas {
    position: absolute;
    left: 19%;
    top: 10%;
}

.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center the modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px; /* Add this line to make the corners rounded */
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h3 {
    margin-top: 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

textarea,
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 4%;
    margin-right: 4%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="number"] {
    width: 60px;
}


@media (max-width: 767px) {
    .sidebar {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 300px;
        padding: 20px;
        background-color: #f5f5f5;
        z-index: 2;
    }
    .sidebar.active {
        display: block;
    }
}


/* Responsive Styling */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    .nav li {
        margin-right: 20px;
    }

    .search input[type="text"] {
        width: 150px;
    }

    .search button {
        margin-left: -30px;
        padding: 8px;
    }

    .fa-search {
        font-size: 14px;
    }
}




@media screen and (max-width: 480px) {
    .logo {
        height: 40px;
        margin-right: 20px;
    }

    .nav li {
        margin-right: 10px;
    }

    .search input[type="text"] {
        width: 100px;
    }

    .search button {
        margin-left: -20px;
        padding: 6px;
    }

    .fa-search {
        font-size: 12px;
    }
}








