body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#profile {
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-info-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.modal-info-content label{
    margin-top: 1%;
}

.narrow{
    font-weight: lighter;
}

.blue {
    color: #003cff;
}

h4 {
    margin-top: 1%;
    margin-bottom: 1%;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    z-index: 2;
}

.logo.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #252B42;
    height: 50px;
    margin-right: 50px;
}

.nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
    margin-right: 40px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #CCCCCC;
    transition: color 0.2s;
}

.nav a:hover {
    color: #666666;
    cursor: pointer;
    opacity: 0.8;
}

.nav a.active {
    color: #333333;
    opacity: 1;
}

.data-field {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: calc(100% - 22px);
    box-sizing: border-box;
    border-radius: 10px;
}

.data-field h2,
.data-field p {
    margin: 0;
    padding: 0;
}

.data-field label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #003cff;
}

#profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#profile p {
    font-size: 18px;
    margin-bottom: 5px;
}

.info-label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

#profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-section {
    flex: 1 0 60%;
    margin-right: 10px;
}

.right-section {
    flex: 1 0 30%;
    margin-left: 10px;
}

.bottom-section {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
}

.edit-button-about, .edit-button-h2, .edit-button  {
    color: gray;
    float: right;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.edit-link {
    color: gray;
    float: right;
}

.data-field label, .data-field a {
    display: inline-block;
}

a {
    text-decoration: none;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.save-button {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: #003cff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.save-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #252B42;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}

.logout-button {
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 47.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.logout-button:hover {
    background-color: #da0000;
}

textarea{
    resize: vertical;
}

.full-info {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1.6px solid #ccc;
}

.full-info:hover {
    background-color: #e6e6e6;
}