.requests td{
    border-top: 1px gray solid;
}

.request-buttons {
    display: flex;
    flex-direction: column;
}

.request-buttons button {
    margin: 5px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.request-buttons .accept {
    background-color: #40BB15;
    cursor: pointer;
}

.request-buttons .accept:hover {
    background-color: #2E9E0F;
}

.request-buttons .reject {
    background-color: #F11C1C;
    cursor: pointer;
}

.request-buttons .reject:hover {
    background-color: #C61717;
}