.teams-list td {
    border-top: 1px gray solid;
}

.teams-list .members-count {
    border-top: none;
}

.team-name {
    margin-bottom: 1%;
}

.members-count {
    display: flex;
    align-items: center;
}

.members-count .circle.blue {
    width: 30px;
    height: 30px;
    background-color: #23A6F0;
    border-radius: 50%;
    margin-right: 1%;
    border: #ffffff 2px solid;
    box-shadow: 5px 1px 5px gray;
}

.members-count .circle.gray {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 1%;
    border: #ffffff 2px solid;
    box-shadow: 5px 1px 5px gray;
}

.team-skills {
    margin-top: 0.5%;
    list-style-type: none;
}

.team-buttons button {
    margin: 5px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.team-buttons .send {
    background-color: #40BB15;
    cursor: pointer;
}

.teams {
    position: absolute;
    left: 19%;
    top: 10%;
}