<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <link rel="stylesheet" href="/personalAccount.css">
</head>
<body>
    <div id="profile">
        <script id="template" type="text/x-handlebars-template">
                <h2>{{username}}</h2>
                <p>{{email}}</p>
                <p>{{telegram}}</p>
                <p>{{about}}</p>
                <p>{{skills}}</p>
                <p>{{finishedProjects}}</p>
                <p>{{currentProjects}}</p>
        </script>

        <script src="/scripts/profile.js"></script>
    </div>
</body>
