<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <link rel="stylesheet" href="/personalAccount.css">
</head>
<body>
    <div id="profile">
        <script id="template" type="text/x-handlebars-template">
            <h2>{{username}}</h2>
            <div><span class="info-label">Email:</span> <span>{{email}}</span></div>
            <div><span class="info-label">Telegram:</span> <span>{{telegram}}</span></div>
            <div><span class="info-label">About:</span> <span>{{about}}</span></div>
            <div><span class="info-label">Skills:</span> <span>{{skills}}</span></div>
            <div><span class="info-label">Finished Projects:</span> <span>{{finishedProjects}}</span></div>
            <div><span class="info-label">Current Projects:</span> <span>{{currentProjects}}</span></div>
        </script>

        <script src="/scripts/profile.js"></script>
    </div>
</body>
