<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas</title>
    <link rel="stylesheet" href="/ideaSearch.css">
</head>
<body>
<div class="idea-search-page">
    <header>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="...">
        <div class="logo">
            <img src="../../images/logo.jpg" alt="Logo">
        </div>
        <form class="search">
            <div class="input-wrapper">
                <label>
                    <input type="text" placeholder="Поиск">
                </label>
            </div>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>

        <div class="nav">
            <ul>
                <li><a href="#" class="active">Идеи</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Личный кабинет</a></li>
            </ul>
        </div>
    </header>
            <aside class="sidebar">
                <div class="sidebar-block filter">
                    <h3>Idea Filter</h3>
                </div>
                <div class="sidebar-block search-bar">
                    <h3>Search for Skills</h3>
                    <form>
                        <input type="text" placeholder="Search">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="sidebar-block skills">
                    <h3>Skills</h3>
                    <div class="skills-list">
                        <ul>
                            <li><input type="checkbox" id="skill1" value="skill1" checked><label for="skill1">Skill 1</label> <span class="count">(3)</span></li>
                            <li><input type="checkbox" id="skill2" value="skill2"><label for="skill2">Skill 2</label> <span class="count">(3)</span></li>
                            <li><input type="checkbox" id="skill3" value="skill3"><label for="skill3">Skill 3</label> <span class="count">(3)</span></li>
                            <li><input type="checkbox" id="skill4" value="skill4"><label for="skill4">Skill 4</label> <span class="count">(3)</span></li>
                            <li><input type="checkbox" id="skill5" value="skill5"><label for="skill5">Skill 5</label> <span class="count">(3)</span></li>
                            <li><input type="checkbox" id="skill6" value="skill6"><label for="skill6">Skill 6</label> <span class="count">(3)</span></li>
                            <li><input type="checkbox" id="skill7" value="skill7"><label for="skill7">Skill 7</label> <span class="count">(3)</span></li>
                            <li><input type="checkbox" id="skill8" value="skill8"><label for="skill8">Skill 8</label> <span class="count">(3)</span></li>
                            <li><input type="checkbox" id="skill9" value="skill9"><label for="skill9">Skill 9</label> <span class="count">(3)</span></li>

                        </ul>
                    </div>
                </div>
                <div class="sidebar-block apply">
                    <button>Apply</button>
                </div>
            </aside>
</div>
<ul>
    <% if (projects) {
    projects.forEach(function(project) { %>
        <li><%= project.name %> <br>
            <%= project.description %>
            <ul>
                <% if (project.skills) {
                project.skills.forEach(function(skill) { %>
                    <li><%= skill %></li>
                <% });
                }%>
            </ul>
        </li>
    <% });}%>
</ul>
</body>
</html>