<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать команду</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>
<body>
<div id="create-team-form">
    <script id="template" type="text/x-handlebars-template">

    </script>
</div>
<script>
    const form = document.getElementById('template').innerHTML;
    const template = Handlebars.compile(form);
    const ideas_id = new URLSearchParams(window.location.search).get('ideas_id');
    document.getElementById('create-team-form').innerHTML = template({ideas_id: ideas_id})
</script>

</body>
</html>